.radio_option
{

padding:5px;
font-size:15px;
}

#question{

font-size:25px;
font-family:Sans-serif;
color:red;
padding:10px;
margin:0 auto;
resize:none;
backgrund:white;
}

body{

font-family:Tahoma;
font-size:5px;
}

span{

color:blue;
font-weight:bold;
font-size:20px;

}


