.radio_option
{

padding:5px;
font-size:15px;
line-height:2em;
}

#question{

font-size:20px;
font-family:Sans-serif;
padding:1em;
border:.2em solid #eee;
resize:none;
backgrund:white;
border-radius:5em;
text-align:center;
width:32em;
}

body{

font-family:Tahoma;


}

span{

font-size:20px;
width:0.5em;



}

.form_control{

width:100px;
height:20px;


}


.bttn{
background:white;
color:navy;
border-radius:10em;
text-align:center;
border:0.1em solid black;
padding:0.5em;
font-size:0.9em;
}


body{

padding:0.9em;

}